<!-- index.html -->
<html>
<body>
<br>
<table cellpadding="25" border="1" align="center" valign="middle" width = "700px" height="20px">
<style>
table tr th {
    background: black;
	color: white;
    font-weight: bold;
}
</style>
<th background="black" >
<h3 align="center" color="white">
Automatic Speech Recognition / Speech to Text using Deep Learning
</h3>
</th>


<tr>
<td valign="middle">
<form action="/process_form" method="POST" align="center">
    <label for="dropdown">Select an option:</label>
    <select id="dropdown" name="option">
        <option value="Tamil_Female">English Tamil Female Accent</option>
        <option value="Hindi_Female">English Hindi Female Accent</option>          
        <option value="Tamil_Male">English Tamil Male Accent</option>
        <option value="Hindi_Male">English Hindi Male Accent</option>      
        <option value="International">English International Accent</option>
        <option value="Noisy1">English Noisy1</option>
        <option value="Noisy2">English Noisy2</option>
    </select>
    <button type="submit">Submit</button>
  </form>
  </td>
  </tr>
</table>
  </body>
  </html>